#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: black;
  width: 90vw;
  max-width: 1300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  box-sizing: border-box;
  color: white;
  overflow-wrap: break-word;
  text-align: left;
}
.heading-contact{
  color:rgb(132, 128, 128);
  font-size:medium;
  font-weight:bolder;
}
.heading{
  color:rgb(132, 128, 128);
  font-size:medium;
  font-weight:bolder;
  padding-bottom:10px
}
.icons{
  height:20px;
  padding-right:15px;
  width:23px;
}
.icons-mail{
  height:15px;
  padding-right:15px;

}
.icon-gps{
  height:20px;
  display:flex;
  position: relative; 
  transform: translateY(5px);
}
.icons-payment{
  height:30px;
  margin-right: 20px;
  margin-bottom: 10px;
  width:45px;
  border-radius: 5px;
}
.contact-item-location {
  display: flex;
  align-items: first baseline;
}
.contact-item {
  display: flex;
  align-items: center;
}
.content-contact{
  font-size: small;
  text-align: left;
  padding-left: 5px;
}
.content{
  text-align: left;
  padding-left: 5px;
  align-items:center;
  font-size:small;
}
.spacing{
  padding-bottom:1px;
}
